$color-white:#fff;
$color-black:#000;
$color-LightBlack:#1f1f1f;
$color-lightBlue:#2da9dc;
$color-darkerBlue:#0f4c97;
$color-darkBlue:#006ac3;
$color-lighterGray:#898989;
$color-lightGray:#686868;
$color-darkGray:#3f3f3f;
